*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.mainmenuimg{
    width:40em;
    height: 40em;
}






.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 7vw;
    background-color: rgb(43, 80, 108);
    border-bottom: 2px solid rgb(94, 133, 160);
    box-shadow: 0 2px 20px rgb(94, 133, 160);
}

.header ul{
    display: flex;
    align-items: center;
}

.nav ul li{
   padding: 0 15px;
   font-size: 14px;
   font-weight: bold;
}

.account{
    flex: 0.1;
}
.account ul{
    display: flex;
    justify-content: end;
}

.account ul li{
    padding: 0 15px;
    font-size: 18px;
}
.bar i :hover{
    color: rgb(43, 80, 108);
}
.search{
    display: none;
    width: 200px;
    justify-content: center;
}
.search input{
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
}
.srchicon{
    background-color: rgb(43, 68, 108);
    display: block;
    padding: 4px 5px;
    cursor: pointer;
}

.home{
    background-color: rgb(94, 133, 160);
    padding: 0 7vw;
}

.main_slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.main_slide div:nth-child(2){
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    
}

.main_slide div:nth-child(1){
    padding-top: 20px;
    flex: 1;
    font-size: 30px;
}

.main_slide div:nth-child(1) p{
    font-size: 13px;
    padding: 20px 0;
}

.main_slide div:nth-child(1) span{
    color: rgb(43, 68, 108);
    text-decoration: underline;
    text-underline-offset:10px;
    text-decoration-color:black;
}

.red_btn{
    cursor: pointer;
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    color: aliceblue;
    line-height: 50px;
    background-color: rgb(0, 39, 69);
    border-radius: 5px;
    border: 1px solid rgb(8, 74, 125)
}

.food-items{
    margin: 70px 0;
    padding: 20px 0;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item{
    width: 250px;
    padding: 30px;
    text-align: center;
}
.item div{
    height: 160px;

}
.item img{
  width: 160px;
  margin-bottom: 15px;
}

.item p{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.white_btn{
    cursor: pointer;
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    line-height: 50px;
    border-radius: 5px;

}

.item .red_btn, .item .white_btn{
    width: 120px;
    line-height: 35px;
}

.main_slide2{
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.foodimg{
    flex: 0.5;
}

.foodimg img{
    max-width: 500px;
    width: 45vw;
}

.question{
    flex: 0.5px;
    flex-direction: column;
    margin-left: 40px;
}

.question h2{
   font-size: 35px;
   margin-bottom: 15px;
}


@media only screen and (max-widht: 768px){
    .header .nav,.header .account {
        display: none;
    }
} 
    
